@mixin flexCenter($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
} 

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 3em;
}

p {
    margin: 0;
}

main {
    flex: 1;
}

.main-board {
    width: 50%;
    height: 90%;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 auto;
    padding: 1.5em;


    .project-box {
        margin: 0.4em;
        
        &:hover {
            cursor: pointer;
        }

        .project-header {
            margin: 0;
            font-size: 1.8em;
            font-weight: bold;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding: 0.5em;
        }

        .todo-box {
            //height: 0;
            //overflow: scroll;
            //transition: all .5s ease-in-out;
            overflow: hidden;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            box-shadow: 2px 2px 3px 1px #e2e2e2;
            
            .todo {
                position: relative;

                .check-title-date {
                    padding: 0.5em 0.5em 0.5em 1em;

                    .todo-title {
                        font-size: 1.4em;
                        margin-left: 1em;
                    }

                    .todo-date {
                        font-size: 0.8em;
                        margin-bottom: 12px;
                        position: absolute;
                        right: 5px;
                        top: 5px;
                    }

                    @include flexCenter(row, "", center)
                }


                .todo-description {
                    height: 0;
                    overflow: hidden;
                    transition: all .5s ease-in-out;
                    margin-left: 5em;

                    @include flexCenter(row, "", center)
                }

                .visible {
                    padding: 1.4em 0em 1.4em 0em;
                    margin-bottom: 1em;

                    @include flexCenter(row, "", center)
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgb(216, 216, 216)!important;
                }

                @include flexCenter(column, center, "");

                
            }
        }
        
        /* for todo box
        .visible {
            height: 155px;

        }*/

    }
    
}