@mixin flexCenter($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
} 

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

main {
    flex: 1;
    width: 70%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1em 3em 0em 3em;

    header {
        h1 {
            margin: 0;
            font-size: 3em;
            justify-content: start;
        }
        
        .button-box {
            background-color: #e0e0e0;
            padding: 1em 2em 1em 2em;
            border-radius: 25px;
            background-color: #bff7bf;
            color: #005c00;
            gap: 10px;

            p{
                color: #005c00;
                background-color: transparent;
                border: none;
                font-size: 1em;

                &:hover {
                    cursor: pointer;
                }
           }

           &:hover p {

            font-weight: bold;
            cursor: pointer;
           }

           &:hover {
            cursor: pointer;
            background-color: #a5f8a5;
           }

           @include flexCenter(row, "", center)
        }

        @include flexCenter(row, space-between, center)
    }

    .project-box {
        width: 95%;
        margin: 0.5em auto;
        
        &:hover {
            cursor: pointer;
        }

        .project-header {
            margin: 0;
            font-size: 1.8em;
            font-weight: bold;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding: 0.5em;
        }

        .todo-box {
            //height: 0;
            //overflow: scroll;
            //transition: all .5s ease-in-out;
            overflow: hidden;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            box-shadow: 2px 2px 3px 1px #e2e2e2;
            
            .todo {
                position: relative;

                .check-title-date {
                    padding: 0.5em 0.5em 0.5em 1em;

                    .todo-title {
                        font-size: 1.4em;
                        margin-left: 1em;
                    }

                    .todo-date {
                        font-size: 0.8em;
                        margin-bottom: 12px;
                        position: absolute;
                        right: 5px;
                        top: 5px;
                    }

                    @include flexCenter(row, "", center)
                }


                .todo-description {
                    height: 0;
                    overflow: hidden;
                    transition: all .5s ease-in-out;
                    margin-left: 5em;

                    @include flexCenter(row, "", center)
                }

                .visible {
                    padding: 1em 0em 1em 0em;
                    margin-bottom: 1em;

                    @include flexCenter(row, "", center)
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgb(216, 216, 216)!important;
                }

                @include flexCenter(column, center, "");

                
            }
        }
        

    }
    
}

.todo-form {
    position: absolute;
    top: 10%;

    box-shadow: 5px 5px seagreen;
    border: 0.5px solid rgb(67, 224, 135);

    background-color: white;
    width: 400px;
    height: 400px;
    padding: 1em 1.4em 0em 1.4em;
    gap: 10px;

    .fa-circle-xmark {
        position: absolute;
        right: 0.5em;
        color: rgb(255, 158, 158);
        font-size: 1.5em;
    }

    legend {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }

    label {
        font-size: 1.4em;
        input {
            height: 30px;
        }
        @include flexCenter(column, center, "")
    }

    .create-todo-btn {
        margin-top: 1em;
        font-size: 1em;
        height: 50px;
        border: none;
        border-radius: 25px;

        &:hover {
            font-weight: bold;
            cursor: pointer;
        }
    }

    @include flexCenter(column, "", "")
}

.invisible {
    display: none;
}